<mat-spinner *ngIf = "isLoading"></mat-spinner>

<mat-accordion  multi="true" *ngIf="storedPosts.length>0 && !isLoading ; else elseBlock" >
  <mat-expansion-panel *ngFor = "let post of storedPosts" style="margin-bottom:10px">
    <mat-expansion-panel-header>{{post.title}}</mat-expansion-panel-header>
  <p>{{post.content}} </p>

  <mat-action-row>
    <a mat-button color="primary" [routerLink]="['/edit',post.id]">EDIT</a>
    <button mat-button color="warn" (click)= "onDelete(post.id)">DELETE</button>
  </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<ng-template  #elseBlock><p class="mat-body-1 info-text" *ngIf="storedPosts.length<=0 && !isLoading ">No posts yet</p></ng-template>

